.dark-toggle {
  display: none;

  @include breakpoint($large) {
    display: block;
    position: -webkit-sticky;
    position: sticky;
    position: fixed;
    right: 32px;
    bottom: 60px;
    z-index: 11;
    justify-content: center;
    align-items: center;
    font-size: 30pt;
    // background-color: white;
    // border-radius: 50%;
    cursor: pointer;
  }

  a {
    color: $text-color;
  }
}

#dark-toggle-bottom {
  display: block;

  @include breakpoint($large) {
    display: none;
  }
}
